body {
    background: url('http://subtlepatterns.com/patterns/light_checkered_tiles.png') #ebebeb;
    font-family:Lucida Grande, Arial;
    font-size:13px; 
    color:#464646;
}

#wrap {
    margin: 50px auto;
    width: 940px;
    border: 1px solid #bab9b9;
    background: #fff;
}

.content {
}

h1 {
    font-size: 600%;
    margin: 10px;
    line-height: 78px;
}

h1 span.adjacent {
    font-size: 90%;
}

h1 span#before {
    font-size: 20% ;
    display: block;
}

#header-data p {
    font-weight: bold;
    margin: 10px;
}

p.moreinfo {
    display: none;
    margin: 10px auto 0 auto;
    font-weight: bold;
}   

td.result {
    cursor: pointer;
}

td.bordered {
    border: 2px solid #46A546;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 480px) {
/* Styles */
    #dataset-map-container {
        display: none;
    }
    h1 {
        color: green;
    }
    #wrap {
        width: 100%;
        margin: 0;
        border: 0;
    }
    header.row .span8 {
        display: none;
    }
}

