<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Fuel App</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/fuel.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<div id="wrap">

    <div class="content">
        <header class="row">
        {% block main %}
        <div class="span8 offset4">Perthfuel.com</div>
        {% endblock %}
        </header>
        
        {% block content %}
        {% endblock %}       
        
        <p>footer</p>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <script type="text/javascript">
    
    var Fuel = {
        position: '',
        results: [],
        
        _mobile: false,
    };
    
    Fuel.map = function() {
        var latlng = new google.maps.LatLng(Fuel.position.latitude, Fuel.position.longitude);
        
        var myOptions = {
            zoom: 13,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            
            zoomControl: false,
            panControl: false,
            mapTypeControl: false,
        };
        map_container = $('#dataset-map').get(0);
        
        Fuel._map = new google.maps.Map(map_container, myOptions);
        
        var pos = new google.maps.Marker({
            position: latlng,
            map: Fuel._map,
            title: "Where you are",
        });    
        
        // Markers for places
        $('td.result').each(this.add_pointer);   
    }
        
    Fuel.callback = function(data) {
        if (data['result'] == "OK") {
            
            $('#dataset-table').load('/ajax/dataset', {'postcode': data['message']}, function(response, status, xhr) {
                // Now waits for pricing data, before loading le page
                suburb_used = xhr.getResponseHeader('X-Perthfuel-Suburb');
                $('h1').text(data['message']);
                $('#header-data p').text(suburb_used);
                
                // Generate map data
                Fuel.map();
                
                $('td.result').bind('click', Fuel.open_result);
            });
        }      
    }
    
    Fuel.use_postcode = function(pc) {
        $.getJSON('/fetch?postcode=' + pc, function(data) { Fuel.callback(data); });        
    }
    
    Fuel.getLocation = function() {        
        // Fetch I guess
        $.getJSON('/fetch?coords=' + this.position_full, function(data) { Fuel.callback(data); });
    }
    
    Fuel.open_result = function() { 
        // this = td.result
        // if using phone {
        if (Fuel._mobile) {        
        
            
            // Hide all other results, so stick that one at the top. 
            // grab the map div, stick it under the result and set css to displayed
            
            // If already one open
            if (Fuel._open_mobile) {
                // Go back
                $('header').show();
                $('td.result').parent().show();
                
                $('#dataset-map').hide();
                
                $(this).toggleClass('bordered');
                $(this).children('p').slideUp();
                
                Fuel._open_mobile = false;
                
            } else {
                
                // Open a new result
                $('header').hide();
                id = $(this).attr('id');
                
                $('td.result').parent().hide();
                $(this).parent().show();
                
                
                map = $('#dataset-map').show().appendTo('#dataset-table');
                
                google.maps.event.trigger(Fuel._map, 'resize');
                Fuel.map_functions.move(Fuel.results[id].latlng);
                
                $(this).toggleClass('bordered');
                $(this).children('p').slideToggle('slow');
                
                Fuel._open_mobile = true;
            }
        } else {
                    
        id = $(this).attr('id');
        $(Fuel._open).toggleClass('bordered').children('p').slideUp();
        $(this).toggleClass('bordered');
        $(this).children('p').slideToggle('slow');
        
        // Move map
        Fuel.map_functions.move(Fuel.results[id].latlng);
        
        Fuel._open = this         }
        console.log(Fuel._open_mobile);
    }
    
    Fuel.add_pointer = function() {
        t = $(this);
        p = new google.maps.LatLng(t.data('lat'), t.data('long'));
        m = new google.maps.Marker({
            position: p,
            map: Fuel._map,
            title: $(this).data('title'),
        });
        
        // Events for pointer
        id = t.attr('id')
        
        x = (function(newthis, p) {
            return function() {
                Fuel.map_functions.move(p);
                
                Fuel.open_result.call(newthis);
            }
        })(this, p);
        
        Fuel.results[id] = {
            'marker': m,
            'latlng': p,
        }
        google.maps.event.addListener(m, 'click', x);
    }
    
    Fuel.map_functions = {
        bounce: function(marker) {
            if (marker.getAnimation() != null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }            
        },
        move: function(latlng) {
            // Need to totes hide all other markers
            Fuel._map.setCenter(latlng);
            Fuel._map.setZoom(Fuel._zoomlevel);
        },
        move_out: function() {
            Fuel._map.setZoom(8);
        },
    }
    
    Fuel.init = function() {
        
        // Completely hackish mobile detection shit
        if (parseInt($('#wrap').css('width')) <= 480) {
            this._mobile = true;
            console.log($('#wrap').css('width'));
        }
        
        // Detect if $ exists, otherwise internet is broken LIKE ALWAYS
        {% if not denyJS %}
        if (!navigator.geolocation) {
            alert("Your browser doesn't support geolocation")
            return false;
        }
        
        g = navigator.geolocation.getCurrentPosition(function(p) {
            Fuel.position = p.coords
            Fuel.position_full = p.coords.latitude + ',' + p.coords.longitude
            Fuel.getLocation();
        });
        {% else %}//115.7309968 -31.64115744
        Fuel.position = {'latitude': -31.64115744, 'longitude': 115.7309968}
        Fuel.position_full = Fuel.position.latitude + ',' + Fuel.position.longitude
        Fuel.use_postcode({{ pc }});
        {% endif %}
        
        this._map = ''; // Map object
        this._open = ''; // Currently selected result
        this._open_mobile = false;
        this._zoomlevel = this._mobile ? 13 : 14;
    }
    
    if (typeof($) == "undefined") { alert("internet not working as usual"); } else {
        $(document).ready(Fuel.init());
    }
    </script>
    

</div>
</body>

</html>
