<!DOCTYPE html>
<html>

<head>
    <title>Fuel App</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/fuel.css" />
</head>

<body>
<div id="wrap">

    <div class="content">
        <header class="row">
        {% block main %}
        <div class="span8 offset4">Perthfuel.com</div>
        {% endblock %}
        </header>
        
        {% block content %}
        {% endblock %}       
        
        <p>footer</p>
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <script type="text/javascript">
    
    var Fuel = {
        position: ''
    };
    
    Fuel.map = function() {
        console.log(Fuel.position);
        var latlng = new google.maps.LatLng(Fuel.position.latitude, Fuel.position.longitude);
        console.log(latlng);
        var myOptions = {
            zoom: 13,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            
            zoomControl: false,
            panControl: false,
            mapTypeControl: false,
        };
        map_container = $('#dataset-map').get(0);
        
        Fuel._map = new google.maps.Map(map_container, myOptions);
        
        var pos = new google.maps.Marker({
            position: latlng,
            map: Fuel._map,
            title: "Where you are",
        });    
        
        // Markers for places
        $('td.result').each(this.add_pointer);   
    }
        
    Fuel.callback = function(data) {
        if (data['result'] == "OK") {
            
            $('#dataset-table').load('/ajax/dataset', {'postcode': data['message']}, function(response, status, xhr) {
                // Now waits for pricing data, before loading le page
                suburb_used = xhr.getResponseHeader('X-Perthfuel-Suburb');
                $('h1').text(data['message']);
                $('#header-data p').text(suburb_used);
                
                // Generate map data
                Fuel.map();
                
                $('td.result').bind('click', Fuel.result_click);
            });
        }      
    }
    
    Fuel.getLocation = function() {
        
        // Fetch I guess
        $.getJSON('/fetch?coords=' + this.position_full, function(data) { Fuel.callback(data); });
    }
    
    Fuel.result_click = function() { 
        // this = td.result
        $(Fuel._open).toggleClass('bordered').children('p').slideUp();
        $(this).toggleClass('bordered');
        $(this).children('p').slideToggle('slow');
        Fuel._open = this
    }
    
    Fuel.add_pointer = function() {
        p = new google.maps.LatLng($(this).data('lat'), $(this).data('long'));
        m = new google.maps.Marker({
            position: p,
            map: Fuel._map,
            title: $(this).data('title'),
        });
        console.log(p);
        // Events for pointer
        google.maps.event.addListener(m, 'click', (function(m, p) {
            return function() {
                Fuel._map.setCenter(p);
                Fuel._map.setZoom(15);                
            }
        })(m, p));
    }
    
    Fuel.init = function() {
        
        // Detect if $ exists, otherwise internet is broken LIKE ALWAYS
        {% if not denyJS %}
        if (!navigator.geolocation) {
            document.write("Your browser doesn't support geolocation")
            return false;
        }
        
        g = navigator.geolocation.getCurrentPosition(function(p) {
            Fuel.position = p.coords
            Fuel.position_full = p.coords.latitude + ',' + p.coords.longitude
            Fuel.getLocation();
        });
        {% endif %}
        
        this._map = ''; // Map object
        this._open = ''; // Currently selected result
        /*
        u = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + this.position + '&sensor=false'
        u = 'http://maps.googleapis.com/maps/api/js?sensor=false'
        var latlng = new google.maps.LatLng(this.position.latitude, this.position.longitude)
        
        //data = $.getJSON(u, callback);
        */
    }
    
    if (typeof($) == "undefined") { alert("internet not working as usual"); } else {
        $(document).ready(Fuel.init());
    }
    </script>
    

</div>
</body>

</html>
