<!DOCTYPE html>
<html>

<head>
    <title>Fuel App</title>
    <link rel="stylesheet" type="text/css" href="/static/fuel.css" />
</head>

<body>
<div id="wrap">

    <div class="content">
        {% block main %}
        <h1>probably should stick a "loading" here</h1>
        {% endblock %}
        
        {% block content %}
        {% endblock %}       
        
    </div>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    
    <script type="text/javascript">
    
    var Fuel = {
        position: ''
    };
        
    Fuel.callback = function(data) {
        if (data['result'] == "OK") {
            $('h1').text(data['message']);
        }      
        alert(data['message']);
    }
    
    Fuel.getLocation = function() {
        
        // Fetch I guess
        $.getJSON('/fetch?coords=' + this.position_full, function(data) { Fuel.callback(data); });
    }
    
    Fuel.init = function() {
        
        // Detect if $ exists, otherwise internet is broken LIKE ALWAYS
        {% if not denyJS %}
        if (!navigator.geolocation) {
            document.write("Your browser doesn't support geolocation cause its a loser, what be your postcode?")
            return false;
        }
        
        g = navigator.geolocation.getCurrentPosition(function(p) {
            Fuel.position = p.coords
            Fuel.position_full = p.coords.latitude + ',' + p.coords.longitude
            Fuel.getLocation();
        });
        {% endif %}
        
        /*
        u = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + this.position + '&sensor=false'
        u = 'http://maps.googleapis.com/maps/api/js?sensor=false'
        var latlng = new google.maps.LatLng(this.position.latitude, this.position.longitude)
        
        //data = $.getJSON(u, callback);
        */
        
    }
    
    if (typeof($) == "undefined") { alert("FUCKING INTERNET"); } else {
    
    $(document).ready(Fuel.init());
    
}
    </script>
    

</div>
</body>

</html>
