{% extends "base.html" %}

{% block main %}
    <div class="span4" id="header-data">
        {% if pc %}
        <h1>{{ pc }}</h1>
        <p>{{ suburb_used }}</p>
        {% else %}
        <h1>Detecting</h1>
        <p></p>
        {% endif %}
    </div>
    {{ super() }}
{% endblock %}



{% block content %}
<div id="information">
    
</div>
<div class="row" id="dataset">
    <div class="span8" id="dataset-table">
        {% if pc %}
            {% include "dataset_table.html" %}
        {% else %}
            <img src="/static/ajax-loader.gif" />
        {% endif %}
    </div>
    <div class="span8" id="dataset-map-container">
        <div id="dataset-map">
        {% if pc %}
            {% include "dataset_map.html" %}
        {% else %}
            <img src="/static/ajax-loader.gif" />
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
